h1{
	color:red;
}

.controls{
	width: 300px;
	height: 40px;
	margin: 0 auto;
	text-align: center;
}

button{
	width: 60px;
	height: 40px;
}

.canvas{
	width: 300px;
	height: 300px;
	border-style: solid;
	border-color: red;
	margin:0 auto;
}

#a{
	margin: 0 auto;
	background-color: green;
}

.z{
	display: inline-block;
	vertical-align: top;
	line-height: 1;
}
